<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Lazy Repeat | Onsen UI</title>
  <link rel="stylesheet" href="../styles/app.css"/>
  <link rel="stylesheet" href="../../../../build/css/onsenui.css">
  <link rel="stylesheet" href="../../../../build/css/onsen-css-components.css">

  <style>
  </style>

  <script src="../../../../build/js/onsenui.js"></script>
  <script src="../../../../build/js/angular/angular.js"></script>
  <script src="../../../../build/js/angular-onsenui.js"></script>

  <script>
    var app = angular.module('myApp', ['onsen']);

    var fixedJump = '';
    var jump = (function() {
      var memoize = [];
      return function(i) {
        if (memoize[i] === undefined) {
          memoize[i] = Array(4 + Math.floor(Math.random() * 40)).join(' bla');
        }
        return memoize[i];
      };
    })();
    var test = function() {
      fixedJump = Array(90).join(' bla');
    }

    app.controller('MyCtrl', function($scope) {
      $scope.MyDelegate = {
        configureItemScope : function(index, itemScope) {
          if (itemScope.item) {
            return;
          }

          // console.log("Created item #" + index);
          itemScope.item = {
            title: 'Item #' + (index),
            index: index,
            desc: 'Bla' + (index === 5 ? fixedJump : jump(index)) + ' ...',
            rand: Math.random()
          };
        },
        countItems : function() {
          return 10000;
        },
        destroyItemScope: function(index, scope) {
          // console.log("Destroyed item #" + index);
        }
      };

      $scope.setup = function() {
        $scope.MyDelegate.setup();
      };
      $scope.refresh = function() {
        $scope.MyDelegate.refresh();
      };
      window.delegate = $scope.MyDelegate;
    });

  </script>


</head>

<body ng-controller="MyCtrl">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="setup()">Setup</ons-toolbar-button>
      </div>
      <div class="center">Lazy Repeat</div>
      <div class="right">
        <ons-toolbar-button ng-click="refresh()">Refresh</ons-toolbar-button>
      </div>
    </ons-toolbar>

    <ons-list>
      <ons-list-item modifier="chevron" ons-lazy-repeat="MyDelegate" index="{{item.index}}">
        <div class="left">
        </div>
        <div class="center">
          <div class="list__item__title">{{ item.title }}</div>
          <div class="list__item__subtitle">{{ item.desc }}</div>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-page>
</body>
</html>
